@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --color1: #70F07D;
    --color2: #54BEE8;
    --color3: #549Bb1;
    --color4: #FFFFFF;
    --color5: #ECEEEE;
    --color6: #E3E4E5;
    --color7: #D80404;
    --color8: #1BAE82;
    --color9: #A11616;
    --color10: #16906B;
}